* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator {
  padding: 2em;
  border: 2px solid black;
  width: 400px;
  border-radius: 15px;
}

.screen {
  border: 1px solid black;
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
  margin-bottom: 20px;
}

.screen-last {
  min-height: 32px;
  font-size: 20px;
}

.screen-current {
  min-height: 64px;
  font-size: 40px;
}

.key-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 10px;
}

.span-2 {
  grid-column: span 2;
}

.keys {
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 20px;
}
