/* 
hero-background-color footer-background-color: #1F2937
main-text: 48px extra-bold #F9FAF8
secondary-text header-link-text: 18px #E5E7EB
header-logo-text: 24px #F9FAF8

button-color call-to-action-background-color: #3882F6
information-header-text: 36px extra-bold #1F2937

quote-background-color: #E5E7EB
quote-text: 36px light italic ##1F2937
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  padding: 1em 12em;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.nav ul {
  list-style: none;
  display: flex;
}
.nav li a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  margin: 0 2em;
}

/* Hero */
.hero {
  background-color: #1f2937;
  padding: 6em 12em;
  display: flex;
}
.hero-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-details h1 {
  font-size: 48px;
  color: #f9faf8;
}
.hero-details p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero-details button {
  font-size: 18px;
  color: #f9faf8;
  background-color: #3882f6;
  width: 150px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 0.5em 0;
}

/* Information */
.information {
  padding: 3em 12em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.information h1 {
  font-size: 36px;
  color: #1f2937;
}
.library-container {
  display: flex;
  margin-top: 2em;
}
.library {
  text-align: center;
  margin: 0 2em;
}

.library img {
  width: 200px;
  height: 200px;
  display: block;
  border: 5px solid #3882f6;
  border-radius: 5px;
}

/* quotes */
.quotes {
  background-color: #e5e7eb;
  padding: 10em 25em;
}

.quotes h1 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 100;
  margin-bottom: 0.5em;
}

.quotes h3 {
  font-size: 24px;
  color: #1f2937;
  font-weight: 900;
  text-align: end;
}

/* newsletter */
.newsletter {
  background-color: #3882f6;
  margin: 8em 12em;
  padding: 3em 9em;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f9faf8;
}

.newsletter div p {
  font-weight: 100;
}
.newsletter button {
  font-size: 18px;
  color: #f9faf8;
  background-color: #3882f6;
  width: 150px;
  text-decoration: none;
  border: 1px solid #f9faf8;
  border-radius: 5px;
  padding: 0.5em 0;
}
